/* =========  GLOBAL ==========  */

body{
	margin-top: 50px;
	font-family: kurale sans-serif;
	font-size: 16px;
	background: 
}

/* =============================== Global ==================================== */



/* ============= Typography =============== */

h1,h2,h3,h4,h5,h6{
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-weight: bold;
}

h1{
	font-size: 3em;
}

h1,h2{
	margin:0 0 40px;
}

h3{
	margin: 20px 0;
}

h4{
	font-size: 18px;
}

button, input, .btn, a.btn {
	-webkit-font-smoothing:antialiased;
	text-rendering: optimizeLegibility;
	color: white;
}

.hero-text a.btn{
	font-weight: bold;
	margin-top: 35px;

}

.btn-danger{
	background-color: #dd5638;
	border-collapse: #d95131;
}

img{
	max-width: 100%; 
}
/* =============  Hero =============*/


#hero{
	background: url('../img/AG-4.png') no-repeat fixed;
	background-size: cover;
	min-height: 100vh;
	padding: 80px 0;
	color:white;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

#hero .hero-text{
	background: rgba(0,0,0,0.6);
	padding: 3%;
	margin-top: 5%;
	border-radius: 5%;
}

#hero article{
	width: 100%;
	text-align: center;
}

#price-timeline{
	margin: 30px 0 60px;
	text-align: center;
}

#price-timeline .price{
	display: inline-block;
	margin: 0 2% 0 0;
	width: 30%;
	background: #3e4249;
	padding:10px 20px 30px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	position: relative;
	vertical-align: top;
}

#price-timeline .price.active{
	background: #dd5638;
}

#price-timeline .price span{
	background: #101010;
	display: block;
	height: 90px;
	width: 90px;
	text-align: center;
	line-height: 90px;
	font-weight: bold;
	font-size: 24px;
	border-radius: 100%;
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	position: absolute;
	bottom: -60px;
	left: 50%;
	margin-left: -45px;

}

#price-timeline h4{
	margin: 0 0 10px; 
}

#price-timeline h4 small{
	color: white;
	font-weight: bold;
	display: block;
}

#price-timeline p{
	margin-top: 60px;
}

/* =========== Layout  ===========*/


section{
	padding:80px 0;
}

.section-header{
	text-align: center;
}

section h2{
	margin:20px 0 40px;
}

section h3{
	margin:30px 0 10px;
}

#subscribe-bar{
	background: #3e4249;
	padding:10px 0;
	color: white;
	-webkit-font-smoothing:antialiased;
	text-rendering: optimizeLegibility;
	font-size: 1.2em;

}

#subscribe-bar p {
	margin: 10px 0 0 0;
}

.container-custom{
	margin-top: 35px;
}


#about-income{
	background: url(../img/bg-section.png) 50% 50% no-repeat;
	background-size: cover;
	color:white;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

#gallery{
	background: rgb(102, 153, 255);
}

.g-img{
	cursor: pointer;
}

.project-description{
	font-size: 16px;
	font-family: 'Kurela' sans-serif;
	color: grey;
	text-align: justify;
	padding: 1.5%;
	margin: 2%;
}

/* ===================== Contact Page ===================*/


#contact{
	background: url(../img/location.png) fixed no-repeat;
	background-size: cover;
	min-height: 100vh; }

#contact h1{
	color:white;
	text-align: center;
	-webkit-font-smoothing:antialiased;
	text-rendering: optimizeLegibility;
}

#contact h3{
	color: white;
	-webkit-font-smoothing:antialiased;
	text-rendering: optimizeLegibility;
}
#contact p{
	color: white;
	-webkit-font-smoothing:antialiased;
	text-rendering: optimizeLegibility;
}

#googlemaps { 
  	height: 400px; 
  	width: 100%;
}

.contact-form{
	background: rgba(0,0,0,0.6);
	border-radius: 3.5%;
	padding:2.5%;
}

/* ====================  /  ====================== */

#social{
	background:rgba(55,55,55,0.6);
}

#social .first-box a, .second-box a, .third-box a, .fourth-box a{
	text-decoration: none;
	color:white;
	text-align: center;
}
